@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #171615;
  color: white;
  overflow: hidden;
}

.orb {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  background: conic-gradient(
    from 103.85deg at 50% 50%,
    #edb400 -51.92deg,
    #27bdc6 65.77deg,
    #ff83af 185.19deg,
    #edb400 308.08deg,
    #27bdc6 425.77deg
  );

  animation: rotateOrb 12s linear infinite;
  border-radius: 50%;
  filter: blur(70px);
  opacity: 0.3;
}

@keyframes rotateOrb {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}